@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

header {
    box-shadow: none !important;
}

.header {
    padding: 0 !important;
}

.navbar {
    position: relative !important;
    /*z-index: 300!important;*/
}

.wrapper {
    flex: 1 0 auto;
}

.navMenu {
    display: block;
    flex-grow: 1;
    font-size: 24px;
}

.navMenu a {
    margin-left: 25px;
    text-decoration: none;
}

.navMenu a:hover {
    color: white;
}

.sideMenu {
    /*position:relative;*/
    z-index: 500;
    background-color: green;
}

.sideMenu nav {
    width: 100%;
}

.active {
    color: white;
    text-shadow: 0 0 4px #fff;
}

.inactive {
    color: gray;
}

@media (max-width: 900px) {
    .navMenu a {
        display: none;
    }
}

.slick-track .slick-active > div {
    display: flex;
}


@media (min-width: 1121px) {
    /* CSS для первого и четвертого элемента класса stick-active */
    .slick-track .slick-slide:nth-child(4n+1) > div {
        justify-content: start;
    }

    .slick-track .slick-slide:nth-child(4n+4) > div {
        justify-content: end;
    }

    /* CSS для второго и третьего элементов класса stick-active */
    .slick-track .slick-slide:nth-child(4n+2) > div,
    .slick-track .slick-slide:nth-child(4n+3) > div {
        justify-content: center;
    }
}

.slick-slider {
    margin-bottom: 25px;
}


.slick-dots li.slick-active button:before {
    color: white;
}

.slick-track .slick-slide > div {
    transition: 0.5ms all ease-in-out;
}

@media (max-width: 1120px) and (min-width: 801px) {
    /* CSS для первого и четвертого элемента класса stick-active */
    .slick-track .slick-slide:nth-child(3n+1) > div {
        justify-content: start;
    }

    .slick-track .slick-slide:nth-child(3n+3) > div {
        justify-content: end;
    }

    /* CSS для второго и третьего элементов класса stick-active */
    .slick-track .slick-slide:nth-child(3n+2) > div {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    /* CSS для первого и четвертого элемента класса stick-active */
    .slick-track .slick-slide > div {
        justify-content: center;
    }
    .movieLink {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        flex-basis: 100%;
    }

}

@media (max-width: 425px) {

    .slick-track .slick-slide > div {
        overflow: hidden;
    }

    .slick-prev {
        left: 0!important;
        z-index: 100;
    }

    .slick-next {
        right: 0!important;
        z-index: 100;
    }

}

.search {
    width: 70%;
}


@media (max-width: 850px) {
    .userMenu {
        background-color: #294421 !important;
        border: 1px solid;
    }
}

.userMenu a {
    color: white;
    text-decoration: none;
    display: block;
}


.userMenu >*:hover  {
    cursor: pointer;
    text-shadow: 0 0 4px #fff;
}

.movieLink {
    text-decoration: none;
    color: white;
}

@media (max-width: 900px) {
    .mainGrid {
        justify-content: center;
    }
}

.posterGrid{
    display: flex;
    justify-content: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-wrapper{
    flex-direction: row;
    justify-content: center;
}

.flex-wrapper > input {
    width: auto;
}

.input-wrapper:not(:last-of-type){
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 70%;
    border: 3px solid #294421;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    transition: 0.3s all ease-in-out;
}

.input-focused input {
    border-color: #ff8100;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
}

.closeModalIcon{
    position:absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
}

.closeModalIcon:hover{
    cursor: pointer;
}
